= title "Poster - #{@poster.title}"

= content do

  .spread
    %a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "qrmendeley", :href => "http://twitter.com/share"} Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}

  %h4 Abstract
  .abstract
    = simple_format @poster.abstract

  %h4 Download URL
  .download_url
    = link_to @poster.download_url, @poster.download_url, :popup => true

  %h4 QR Code
  = qr_code_image_tag poster_url(@poster)
  %h5 Scan me to add to Mendeley and tweet about this poster
 

  %p= button "View all Posters", posters_path
  

 
 

